@import './settings.scss';

.contact__btn {
  transition-duration: $transition-time;
  transition-property: filter;
}

.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 85%;
  right: -348px;
  width: 348px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-black;
  box-shadow: 2px 2px 6px $color-five;
  transition-duration: $transition-time;
  transition-property: all;
  z-index: 1000;

  @media (max-width: $media-border) {
    width: 100%;
    right: calc(-100%);
  }

  @media (max-width: $media-border) and (orientation: landscape) {
    width: 50%;
  }

  .close__btn {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    i {
      margin-left: 20px;
      color: $color-one;
      font-size: calc($base-size * 4);
      font-weight: bold;
      transition-duration: $transition-time;
      transition-property: color;

      @media (hover) {
        &:hover {
          color: $color-two;
          cursor: pointer;
        }
      }
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      height: 20%;
    }
  }

  .contact__text {
    border: 2px solid $color-one;
    width: 60%;
    height: 20%;

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3, h4 {
      text-align: center;
      color: $color-one;
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      height: 40%;
    }
  }

  .contact__links {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $base-size;

    a {
      height: calc($base-size * 2);
      color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: $base-size;

      @media (hover) {
        &:hover p {
          color: $color-white;
        }

        &:hover i {
          color: $color-white;
        }
      }

      p, i {
        color: $color-one;
        transition-duration: $transition-time;
        transition-property: color;
      }
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      height: 40%;
    }
  }

  &.box__active {
    right: 0px !important;
  }
}
