@import './settings.scss';

#menu__toggle {
  opacity: 0;
}

.contact__btn {
  transition-duration: $transition-time;
  transition-property: filter;
  &.button__active {
    filter: blur(4px);
  }
}
.contact__box {
  display: block;
  position: fixed;
  top: 0;
  opacity: 75%;
  left: -300px;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: $transition-time;
  transition-property: all;
  &.box__active {
    left: 0 !important;
  }
}
