@import './settings.scss';

.footer {
  width: 100%;
  bottom: -80px;
  opacity: .25;
  position: fixed;
  z-index: 90;
  transition-property: bottom, opacity;
  transition-duration: $transition-time;

  .footer-wrapper {
    width: $base-width;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 95;

    @media (max-width: $media-border) {
      width: 90dvw;
    }

    .arrow-up {

      a {
        margin-bottom: calc($base-size * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc($base-size * 7);
        height: calc($base-size * 7);
        border-radius: $radius-round;
        background-color: $color-one;
        z-index: 100;
        transition-property: transform;
        transition-duration: $transition-time;

        i {
          color: $color-three;
          font-size: calc($base-size * 6);
          font-weight: bold;
          transition-property: color;
          transition-duration: $transition-time;
        }

        &:hover {
          transform: scale(1.2);

          i {
            color: $color-black;
          }
        }
      }
    }
  }

  &.footer__show {
    bottom: 0;
    opacity: 1;
  }
}
