@import './settings.scss';

/* Global */

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-athena;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  max-width: $base-width;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
  align-items: center;


}

section {
  padding: 96px 0;
  &:first-of-type {
    height: 100dvh;
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
