@import './settings.scss';

/* Global */

* {
	margin: 0;
	padding: 0;
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;

}

html, body {
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-athena;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  max-width: $base-width;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
  align-items: center;


}

section {
  padding: 96px 0;

  &:first-of-type {
    height: 100dvh;
    margin-bottom: 0;
  }

  padding: 96px 0;

  @media (max-width: $media-border) {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

h2, h3, h4 {
  vertical-align: center;
  text-align: center;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-text;
}

p, i {
  color: $color-text;
  font-style: normal;
  transition-property: opacity;
  transition-duration: $transition-time;
}

