@import './settings.scss';

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-athena;
}

.container {
  display: flex;
  max-width: $base-width;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

section {
  padding: 96px 0;
}
