@import './settings.scss';

@keyframes background_change {
  0% {
    background-image: $background-image-1;
  }
  30% {
    background-image: $background-image-1;
  }
  33% {
    background-image: $background-image-2;
  }
  60% {
    background-image: $background-image-2;
  }
  66% {
    background-image: $background-image-3;
  }
  95% {
    background-image: $background-image-3;
  }
  100% {
    background-image: $background-image-1;
  }
}
