@import './settings.scss';

.last {
  height: 100vh;
  background-image: $background-image-1;
  background-position: center;
  background-size: cover;

  .last-wrapper {
    width: 100%;

    h3, h4 {
      text-align: center;
    }
  }
}
