@import './settings.scss';

.last {
  height: 50dvh;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $media-border) {
    height: 33dvh;
  }

  @media (max-width: $media-border) and (orientation: landscape) {
    height: 50vh;
  }

  .last-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3, h4 {
      font-size: 1.6dvw;
      text-align: center;
      color: $color-white;

      @media (max-width: $media-border-extra-small) {
        font-size: .7rem;
      }

      @media (min-width: $media-border-extra-small) and (max-width: $media-border) {
        font-size: .9rem;
      }
    }

    h4 {
      font-weight: normal;
    }

    .last__links {
      width: 100%;
      height: auto;
      padding-top: calc($base-size * 3);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: calc($base-size * 6);

      a {
        height: calc($base-size * 3);
        font-size: 1.6dvw;
        color: $color-four;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $base-size;
        transition-duration: $transition-time;
        transition-property: color;

        @media (hover) {
          &:hover p {
            color: $color-white;
          }

          &:hover i {
            color: $color-white;
          }
        }

        p, i {
          color: $color-four;
          transition-duration: $transition-time;
          transition-property: color;
        }

        @media (max-width: $media-border) {
          font-size: .9rem;
        }
      }

      @media (max-width: $media-border) {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
