@import './settings.scss';

.last {
  height: 50dvh;
  background-image: $background-image-6;
  background-position: center;
  background-size: cover;

  @media (max-width: $media-border) {
    height: 33dvh;
  }

  .last-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3, h4 {
      text-align: center;
      color: $color-text;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: calc($base-size * 4);
      height: calc($base-size * 4);
      background-color: $color-four;
      border-radius: $radius-round;
      transition-property: transform, background-color;
      transition-duration: $transition-time;

      i {
        width: 100%;
        height: 100%;
        font-size: calc($base-size * 3);
        color: $color-text;
        text-align: center;
        margin: auto;
        transition-property: color;
        transition-duration: $transition-time;

        &:hover {
          color: $color-four;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $color-text;
        transform: rotate(360deg) scale(1.2);
      }
    }
  }
}
