@use 'sass:math';
@import './settings.scss';

.main-carousel {
  padding-top: 0;
  margin-top: 0;
  color: $color-two;
  background-color: $color-black;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.carousel-container {
  height: 100dvh;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 0 auto;
}

.c-header {
  display: block;
  width: 100%;
}

.u-a5 {
  width: 100%;
  font-family: Arial;
  font-size: 35px;
  line-height: $base-size;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 3px $color-five;
  color: $color-four;
  text-align: right;

  @media (max-width: $media-border) {
    font-size: 22px;
    line-height: 15px;
  }

  @media (min-width: $media-border-large) {
    font-size: 52px;
    line-height: $base-size * 2;
  }
}

.u-b4 {
  width: 100%;
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  font-weight: normal;
  color: $color-four;
  text-align: right;

  @media (max-width: $media-border) {
      font-size: 16px;
      line-height: 12px;
  }

  @media (min-width: $media-border-large) {
    font-size: 26px;
    line-height: calc($base-size * 4);
  }
}

a {
	text-decoration: none;
}

//MEDIA WRAPPER
.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;

  &#{&}--16-9 {
	padding-bottom: percentage(math.div(9, 16));
  }
}

// GRADIENT IMAGE OVERLAY
.c-gradient-overlay {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(
		circle at 49% 50%,
		rgba(2, 21, 25, 0.3),
		rgba(2, 21, 25, 0.6)
	);
}

.c-mouse-vertical-carousel {
	position: relative;
	overflow: hidden;
  height: 100dvh;

  @media (max-width: $media-border) {
    height: 100dvh;
  }

  @media (min-width: calc($media-border + 1px)) and (max-width: $media-border-large) {
    height: 110dvh;
  }

	&__list {
		width: 40%;
		position: absolute;
		right: 5dvw;
    padding-right: $base-size * 4;
		top: 40dvh;
		z-index: 1;

    @media (max-width: $media-border) {
      width: 90%;
      top: 26dvh;
      padding-right: 0;
      right: 0;
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      top: calc($base-size * 8);
    }
	}

	&__list-item {

		a {
      width: auto;
			display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
			padding-bottom: calc($base-size * 3);
			padding-top: calc($base-size * 3);
      padding-right: $base-size;
			padding-left: 0;

      @media (max-width: $media-border) {
        padding-right: calc($base-size * 3);
        padding-left: 0;
      }

      @media (max-width: $media-border) and (orientation: landscape) {
        padding-top: calc($base-size);
        padding-bottom: calc($base-size);
      }
		}
	}

	&__eyebrow {
		position: relative;
    padding-right: $base-size;
		padding-bottom: 12px;

		span {
			position: absolute;
			left: -30px;
			top: 2px;
		}
	}

	&__title {
		max-width: 450px;
	}

	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		will-change: transform;

    @media (max-width: $media-border) and (orientation: landscape) {
      top: 0;
      height: 100dvh;
    }
	}
}
