@import './settings.scss';
@import url(https://fonts.googleapis.com/css?family=Raleway);

.navigation {
  width: 100dvw;
  height: calc($base-size * 6);
  z-index: 10;
  top: 0;
  opacity: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, $color-three, $color-one);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $color-text;
  height: 50px;
  padding: 1em;
  transition-property: top, opacity, position;
  transition-duration: $transition-time;
  z-index: 200;

  .navigation-wrapper {
    width: $base-width;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-border) {
      width: 85dvw;
    }

    .logo {
      width: 30%;
      height: 100%;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;

      a {
        color: $color-text;
      }

      @media (max-width: $media-border) {
        width: 60%;
      }
    }

    .menu {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (max-width: $media-border) {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
      color: $color-white;

      a {
        color: $color-black;

        @media (max-width: $media-border) {
          color: $color-four;
        }
      }

      @media (max-width: $media-border) {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: $color-black;
      }
    }

    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @media (max-width: $media-border) {
        display: flex;
        width: 10%;
        order: 2;
      }
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: $color-black;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-button::before {
      content: '';
      margin-top: -8px;
    }

    .menu-button::after {
      content: '';
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: none;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }

    #menu-toggle ~ .menu li {
      @media (max-width: $media-border) {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    #menu-toggle:checked ~ .menu li {
      @media (max-width: $media-border) {
        border: 1px solid $color-six;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
    .menu > li:not(:last-child) {
      @media (max-width: $media-border) {
        border-bottom: 1px solid $color-seven;
      }
    }

    .lang__btn {
      width: 5%;
      display: flex;
      justify-content: center;

      a {

        img {
          width: 44px;
          height: 33px;
        }
      }

      @media (max-width: $media-border) {
        width: 20%;
        margin-left: 0;
        justify-content: flex-end;
        text-align: end;

      }
    }
  }

  &.navigation__hide {
    top: -700px;
    opacity: .25;
  }
}
