@import './settings.scss';

.section {
  height: 100dvh;
  background-color: $color-three;

  .section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc($base-size * 3);

    .description {
      height: 100%;
      width: 40%;

      h3 {
        text-align: center;
      }

      h4 {
        text-align: center;
      }

      ul {

        li {

          p {

          }
        }
      }
    }

    .images {
      height: 65vh;
      width: 60%;
      display: block;
    }
  }

  &:nth-of-type(4) {
    background-color: $color-two;

    .description {
      order: 2;
    }

    .images {
      order: 1;
    }
  }
}

.gallery-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, calc(33.333% - $base-size * 0.666));
  grid-template-rows: repeat(3, calc(33.333% - $base-size * 0.666 ));
  width: 100%;
  height: 100%;
  margin: 0;
  gap: $base-size;
}
.gallery-item {
  opacity: .85;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: $transition-time;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 124px;
  object-fit: cover;
}
.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  transition-property: background-color;
  transition-duration: $transition-time;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition-property: filter, opacity;
  transition-duration: $transition-time;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .gallery-container {
      width: 100%;
  }
  .gallery-item {
      flex-basis: 49.80%;
      margin-bottom: 3px;
  }
  .lightbox-content {
      width: 80%;
      height: 60%;
      margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
      flex-basis: 100%;
      margin-bottom: 1px;
  }
  .lightbox-content {
      width: 90%;
      margin: 20% auto;
  }
}
