/* Variables */

/* Main colors */

/* Text colors */

/* Sizes */
$base-size: 8px;

/* Other */
$transition: all 1s;

/* Fonts */
$font-inconsolata: 'Inconsolata', monospace;
$font-signika: 'Signika', sans-serif;
