@import './typography.scss';

/* Variables */

/* Main colors */
$color-one: #eea849;
$color-two: #e2dbd1;
$color-three: #f46b45;
$color-four: rgba(255, 145, 0, 0.8);
$color-five: rgba(0, 0, 0, 0.8);
$color-six: #b4afaf;
$color-seven: #444;
$color-eight: #222;
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-transparent: rgba(0, 0, 0, 0.8); /* nie działa tak */

/* Text colors */
$color-text: #007c8f;

/* Sizes */
$base-size: 8px;
$base-width: 1148px;
$border-radius: 5px;
$radius-round: 50px;
$media-border: 768px;
$media-border-small: 480px;

$background-image-1: url('../images/backgrounds/background1.jpg');
$background-image-2: url('../images/backgrounds/background2.jpg');
$background-image-3: url('../images/backgrounds/background3.jpg');
$background-image-4: url('../images/backgrounds/background4.jpg');
$background-image-5: url('../images/backgrounds/background5.jpg');
$background-image-6: url('../images/backgrounds/background6.jpg');

/* Other */
$transition-time: .5s;


/* Fonts */
$font-athena: 'Arial';

