/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
  color: #eb2f06;
}

body {
  margin: 0;
  text-align: center;
  background-color: #fad390;
  color: #eb2f06;
  font-size: 24pX;
  line-height: 1.7;
  font-family: "Inter", sans-serif;
}

section {
  padding: 66px 0;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://i.postimg.cc/KYbJcJQn/tlo-facebook-1200x628-2.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash i {
  font-size: 32pX;
  background: #fad390;
  width: 60pX;
  height: 60pX;
  line-height: 60pX;
  border-radius: 50%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title {
  color: #eb2f06;
  text-align: center;
  font-family: Arial serif;
  font-size: 64pX;
  margin: 10pX 0 0 0;
  position: relative;
  font-family: "Cinzel", serif;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -24px;
  left: 50%;
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #eb2f06;
}

.page-subtitle {
  color: #eb2f06;
  text-align: center;
  font-size: 32pX;
  margin: 48pX 0 0 0;
}

/* Intro */
.intro {
  background: #fad390;
  text-align: center;
  padding-top: 120px;
}

.intro p {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  padding: 40px 0;
  font-size: 24pX;
  border-top: solid 1pX #eb2f06;
  border-bottom: solid 1pX #eb2f06;
}

.section-title {
  position: relative;
  font-size: 32pX;
  margin: 0 0 50px 0;
  font-family: "Inter", sans-serif;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #eb2f06;
}

.about .container p {
  line-height: 30px;
  font-size: 24px;
}

/* About */
.about {
  background: lightgrey;
}

/* Skills */
.skills-title {
  font-size: 32px;
  position: relative;
  margin-bottom: 60px;
}

.skills-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #eb2f06;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 1s;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
}

.skill.right .skill-image {
  right: 0;
}

.skill.right .skill-description {
  transition: all 1s;
  padding: 36px 55% 36px 0;
  text-align: justify;
}

.skill.left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: justify;
}

.skill.right .skill-title {
  text-align: right;
  font-size: 24px;
}

.skill.left .skill-title {
  text-align: left;
  font-size: 24px;
}

.skill-image:hover {
  transform: scale(1.25);
  /* transform: translate(0pX, -125pX); */
  z-index: 100;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Gallery */
.gallery {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-title {
  width: 100%;
  padding-bottom: 30px;
}

.gallery-title-header {
  padding-bottom: 0px;
  margin-bottom: 40px;
  position: relative;
  font-size: 32pX;
}

.gallery-title-header::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #eb2f06;
}

.gallery .photo-container {
  width: 33.333%;
  position: relative;
}

.gallery .photo-container img {
  width: 100%;
  height: 300px;
  display: block;
}

.gallery .photo-container .layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.gallery .photo-container:hover .layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  /*
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  */
}

.gallery .photo-container:hover .layer h4 {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery .photo-container:hover .layer button {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}

.see-more {
  width: 100%;
  padding-top: 20px;
}

/* Contact */
form {
  padding: 10px;
  margin: 10pX 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.postimg.cc/KYbJcJQn/tlo-facebook-1200x628-2.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 720px;
}

.contact {
  font-size: 32pX;
  padding: 0;
  margin: 50px;
  position: relative;
}

.contact::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #eb2f06;
}

input, textarea, button {
  padding: 5px;
  margin: 5pX 0;
  cursor: pointer;
}

.form input, textarea {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: solid 1px white;
}

.form input:focus, textarea:focus {
  border: 1px solid blue;
}

.form input:valid, textarea:valid {
  border: 2px solid green;
}

.form button {
  height: 30pX;
  width: 80pX;
  border-radius: 5%;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: width, height, font-size;
}

.form button:hover {
  width: 100px;
  height: 40px;
  font-size: 18px;
  /* transition: rotateY(360deg); */
}

/* Footer */
.page-footer {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  bottom: 0;
}

.page-footer p {
  line-height: 5pX;
  padding: 10px;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */