/* Variables */

$font-one:'Roboto', sans-serif;
$color-one: white;
$color-two: aqua;
$color-three: lightgrey;
$color-four: darkgrey;
$color-five: rgb(51, 50, 50);
$color-six: #021f07;

$transition: 1s all;

/* Styles */

/* Global */ 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-one;

  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    padding: 0;
    margin: auto;
    justify-content: center;
  }
  
section {
    padding: 32px 0px;

}

/* Buttons */

.btn {
    display: flex;
    width: 160px;
    margin: 24px auto 0 auto;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $color-one;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn-one, .btn-two, .btn-four, .btn-five{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
    color: $color-two;
    border-color: $color-two;
}

.btn-three {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, $color-four 50%, transparent 50%);
    color: $color-four;
    border-color: $color-four;
}

.btn-one:hover, .btn-two:hover, .btn-three:hover, .btn-four:hover, .btn-five:hover {
    background-position: 0 100%;
    color: $color-one;
}

.btn-six {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
    color: $color-two;
    border-color: $color-two;
    border-radius: 0%;
}

.btn-six:hover {
    background-position: 0 100%;
    color: $color-one;
    font-weight: 900;
}

.btn-seven {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, $color-four 50%, transparent 50%);
    color: $color-five;
    border-color: $color-four;
    border-radius: 0%;
    margin-bottom: 48px;
}

.btn-seven:hover {
    background-position: 0 100%;
    color: $color-one;
    font-weight: 900;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://i.postimg.cc/0yjVFQK2/background-splash.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-one;
    display: flex;
    justify-content: center;
    align-items: center;

    .splash-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .page-title {
            font-size: 48px;
            font-weight: 100;
            margin: 0 auto;
        
            .page-title-span {
                font-weight: 900;
         }
      }

      .page-subtitle {
           font-size: 16px;
           font-weight: 400;
           margin: 0 auto;
      }
    }
}

/* Navifation inside Splash */

.navigation {
    color: $color-two;
    background-color: $color-four;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    z-index: 500;

    ul {
        list-style-type: none;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            h2 {
                position: relative;
                transition: $transition;
                margin: 0;
        
                .dot {
                    color: $color-one;
                }
            }

            h2:hover {
                color: $color-one;
                cursor: pointer;
                transform: scale(1.2) rotate(5deg);
            }

            ul {

                li {

                    a {
                        color: $color-two;
                        font-size: 10px;
                        font-weight: 900;
                        padding: 10px;
                        text-decoration: none;
                        transition: $transition;
                    }
        
                    a:hover {
                        color: $color-one;
                        transform: scale(1.5) rotate(5deg);
                    }
                }
            }
        }
    }
}    

/* About us */

.about-us {
    color: $color-four;
    display: flex;
    justify-content: center;
    padding-bottom: 72px;

    .about-us-title {
        font-size: 48px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .about-us-title:after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        width: 40px;
        height: 1px;
        transform: translateX(-50%);
        background: $color-two; 
    }

    .about-us-subtitle {
        font-size: 16px;
        font-weight: 100;
        display: flex;
        justify-content: center;
    }

    .boxes-wrapper {
        margin: 72px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;

        .single-box {
            flex: 0 0 15%;
    
            a {
                display: flex;
                justify-content: center;
                font-size: 0px;
                color: $color-four;
                text-decoration: none;
    
                i {
                    font-size: 36px;
                    background-color: $color-three;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s all;
                }
    
                i:hover {
                    transform: scale(1.2);
                    background-color: $color-two;
                    transform: rotate(360deg);
                }
            }
    
            a:hover {
                color: $color-one;
            }
    
            h2 {
                color: $color-five;
                font-weight: 100;
                padding: 22px auto;
                display: flex;
                justify-content: center;
            }
    
            p {
                display: flex;
                text-align: center;
            }
        }
    }
}

/* Half */

.half {

    .container {
        max-width: none;
        margin: 0px;
        display: flex;
        justify-content: center;
        width: 100%;

        .boxes-wrapper {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0; 

            .half-single-box {
                min-height: 300px;
                max-height: 450px;
                height: 100%;
                width: 100%;

                .half-wrapper-left {
                    background-color: $color-three;
                    display: flex;               
                    flex-direction: row;
                    height: 100%;
                    width: 100%;
                    flex: 0 0 50%;
                    margin: 0;
                    padding: 96px;
                    justify-content: center;
                    align-items: center;
                    gap: 48px;
    
                    .image {
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        object-fit: cover; 
                        position: center;  
                        z-index: 100;
                        filter: grayscale(1);
                        transition: $transition;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover; 
                            position: center;
                        }  
                    }

                    .image:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        filter: grayscale(0);
                        transform: rotate(360deg);
                    }
                    
                    .description {
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        overflow: hidden; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-weight: 100;
                            text-align: center;
                        }

                        p {
                            color: $color-four;
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
    
                .half-wrapper-right {
                    display: flex;
                    flex-direction: row-reverse;
                    height: 100%;
                    width: 100%;
                    flex: 0 0 50%;
                    margin: 0;
                    padding: 96px;
                    align-items: center;
                    justify-content: center;
                    gap: 48px;
    
                    .image {
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        object-fit: cover; 
                        position: center;  
                        z-index: 100;
                        filter: grayscale(1);
                        transition: $transition;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover; 
                            position: center;
                        }  
                    }

                    .image:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        filter: grayscale(0);
                        transform: rotate(360deg);
                    }
            
                    .description {
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        overflow: hidden; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            font-weight: 100;
                            text-align: center;
                            margin: 0;
                            padding: 0;
                        }

                        p {
                            color: $color-four;
                            text-align: center;
                        }
                    }
                }
            }
        } 
    }
}

/* Dark */

.dark {
    height: 400px;
    position: relative;
    background-image: url("https://i.postimg.cc/nrvLHpsX/background-dark.png");
    background-position: center center;
    background-size: cover;
    color: $color-one;
    display: flex;
    justify-content: center;
    align-items: center;

    .dark-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            filter: grayscale(1);
            transition: $transition;
        }

        img:hover {
            transform: scale(1.2);
            cursor: pointer;
            filter: grayscale(0);
            transform: rotate(360deg);
        }

        .dark-title {
            margin: 8px;
            font-size: 24px;
            font-weight: 400;
            color: $color-four;

            .dark-span {
                color: $color-two;
            }
        }

        .dark-subtitle {
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            color: $color-four;

        }
    }
}

/* Our services */

.our-services {

    background-color: $color-three;

    .our-services-title {
        font-size: 48px;
        font-weight: 100;
        color: $color-five;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .our-services-title:after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        width: 40px;
        height: 1px;
        transform: translateX(-50%);
        background: $color-two; 
    }

    .our-services-subtitle {
        font-size: 16px;
        font-weight: 100;
        color: $color-five;
        display: flex;
        justify-content: center;
    }

    .boxes-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px 0;
        list-style-type: none;
        margin: 0;
        padding: 56px 0;

        .our-services-single-box {
            flex: 0 0 40%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 0;

            .graph {
                display: flex;
                width: 20%;
                height: 100%;
                z-index: 100;
                transition: $transition;
            
                a {
                    width: 100%;
                    max-width: 250px;
                    height: 100%;
                    object-fit: cover; 
                    position: center;  
                    font-size: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: top;
                    text-decoration: none;
            
                    i {
                        width: 60px;
                        height: 60px;
                        font-size: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: $color-three;
                        background-color: $color-one;
                        transition: $transition;
                    }
                }

                a:hover i {
                    color: $color-two;
                    cursor: pointer;
                    transform: rotate(360deg);
                }
            }
            
                .description {
                    width: 60%;
                    height: 100%;
                    padding: 0;
                    text-align: justify; 
                    overflow: hidden; 
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: top;
                     
                h2 {
                    font-size: 24px;
                    font-weight: 100;
                    width: 100%;
                    margin: 0;
                }
            
                p {
                    width: 100%;
                    font-weight: 100;
                }
            }
        }
    }
}

/* Our team */

.our-team {
    padding-bottom: 0;

    .our-team-title {
        font-size: 48px;
        font-weight: 100;
        color: $color-five;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .our-team-title:after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        width: 40px;
        height: 1px;
        transform: translateX(-50%);
        background: $color-two; 
    }

    .our-team-subtitle {
        font-size: 16px;
        font-weight: 100;
        color: $color-five;
        display: flex;
        justify-content: center;
    }

    .boxes-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0; 
        padding-top: 48px;
        
        .our-team-single-box {
            flex: 0 0 20%;
            height: 220px;
            min-height: 100px;
            position: relative;
            margin: 0;

            .photo {
                position: absolute;
                width: 100%;
                height: 100%;
            
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .desc {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(1, 22, 11, 0.65);
                opacity: 0;
                transition: $transition;
        
                h2 {
                    font-size: 14px;
                    font-weight: 100;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    color: $color-one;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition;
                }

                h2:hover {
                    transform: scale(1.8);
                    cursor: pointer;
                }
            }
            
            .desc:hover {
                opacity: 1;
            }
        }
    }
}

/* Pricing */

.pricing {
    background-color: $color-three;

    .container {
        min-height: 500px;

        .pricing-title {
            font-size: 48px;
            font-weight: 100;
            color: $color-five;
            display: flex;
            justify-content: center;
            position: relative;
        }
    
        .pricing-title:after {
            position: absolute;
            content: '';
            bottom: -12px;
            left: 50%;
            width: 40px;
            height: 1px;
            transform: translateX(-50%);
            background: $color-two; 
        }
    
        .pricing-subtitle {
            font-size: 16px;
            font-weight: 100;
            color: $color-five;
            display: flex;
            justify-content: center;
            margin-bottom: 48px;
        }

        .boxes-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: 0; 
            height: 100%;

            .pricing-single-box {
                display: flex;
                flex: 0 0 23%;
                flex-direction: column;
                min-height: 200px;
                height: 100%;
                margin: 0;
                background-color: $color-one;
                min-height: 200px;
                border-radius: 5px;

                .top {
                    width: 100%;
                    height: 35%;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: top;
                    border-bottom: 2px solid $color-three;
                
                    p {
                        font-size: 14px;
                        font-weight: 100;
                        width: 100%;
                        margin: 8px;
                        margin-top: 0;
                    }
                
                    h2 {
                        color: $color-two;
                        font-weight: 500;
                        font-size: 24px;
                        width: 100%;
                        margin: 8px;
                        margin-bottom: 0;
                    }
                
                    }
                
                    .bottom {
                        width: 100%;
                        height: 65%;
                        bottom: 0;
                        padding: 0;
                        text-align: justify; 
                        overflow: hidden; 
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        align-items: flex-end;
                
                    p {
                        font-size: 14px;
                        font-weight: 100;
                        width: 95%;
                        margin: 8px;
                    }
                
                    a {
                        width: 100%;
                        bottom: 0%;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}

/* Map */

.map {

    .container {
        max-width: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: stretch;
        width: 100%;

        .map-wrapper {
            max-width: none;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            width: 100%;
            margin: 64px 0;
            padding: 0;
            gap: 5%;

            .map-image {
                width: 40%;

                height: 100%;
                z-index: 100;

                transition: $transition;

                img {
                    max-width: 962px;
                    max-height: 519px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    position: center;  
                    cursor: pointer;
                    transition: $transition;
                }

                img:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }

            .map-description {
                width: 40%;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;
                overflow: hidden; 
                max-width: none;

                .map-title {
                    font-size: 48px;
                    font-weight: 100;
                }

                p {
                    font-weight: 100;
                }

                a {
                    margin-top: 48px;
                }
            }
        }
    }

}

/* Dark Two */

.dark-two {
    height: 400px;
    position: relative;
    background-image: url("https://i.postimg.cc/ZRs8rPj8/background-dark-2.png");
    background-position: center center;
    background-size: cover;
    color: $color-one;
    display: flex;
    justify-content: center;
    align-items: center;

    .dark-two-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dark-two-title {
            font-size: 24px;
            font-weight: 400;
            color: $color-four;
        }

        .dark-two-title-bold {
            color: $color-two;
        }

    }
}

/* Contact */

.contact {
    background-color: $color-three;  
    padding-top: 48px;  
    font-weight: 100;
    color: $color-six;

    .container {
        padding-left: 72px;

        .contact-title {
            font-size: 48px;
            background-color: $color-three;
            color: $color-six;
            font-weight: 100;
            margin-top: 0px;
        }

        .boxes-wrapper {
            display: flex;
            flex-direction: row;

            .contact-form {
                flex: 2 0 0;
                padding-right: 96px;
                background-color: $color-one;
                color: $color-six;
                background-color: $color-three;  
                display: block;

                input, textarea {
                    width: 100%;
                    line-height: 2;
                    background-color: $color-three;
                    color: $color-six;
                    border: none;
                    border-bottom: 3px solid $color-four;
                    outline: 0;
                    background-color: $color-three;  
                }
                
                ::placeholder {
                    color: $color-five;
                    opacity: 1;
                }

                button {
                    width: 100%;
                }
            }

            .contact-data {
                flex: 1 0 0;
                background-color: $color-three;
                color: $color-six;
                line-height: 0.5;

                .data-title {
                    font-size: 20px;
                    font-weight: 100;
                }
            }
        }
    }
}

/* Footer */

.page-footer {

    background-color: $color-four;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        ul {
            width: 33.333%;
            list-style-type: none;
            padding: 20px;
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: center;

            li {

                a {
                    font-size: 0;
                }

                i {
                    background-color: $color-three;
                    color: $color-four;
                    font-size: 30px;
                    width: 60pX;
                    height: 60pX;
                    border-radius: 50%; 
                    text-align: center;
                    line-height: 60px;
                    transition: $transition;
                }

                i:hover {
                    transform: scale(1.2) rotate(360deg);
                    background-color: $color-two;
                }
            }
        }

        h2 {
            width: 33.333%;
            font-size: 20px;
            font-weight: 100;
            color: $color-six;
            text-align: left;
            padding-left: 32px;
        }

        h2:last-of-type {
            text-align: right;
            padding-right: 32px;
        }
    }
}

/* Media */

/* Smaller mobile screens */

@media (min-width: 320px) and (max-width: 460px) {

.navigation ul {
    padding: 0px;
    margin: 0px;
}

.navigation ul li {
    padding: 0px;
    margin: 0px;
}

.navigation ul li h2 {
    display: none;
}

.navigation ul li ul li {
    margin: 0px;
    padding: 0px;
}

.navigation .container ul li ul a {
    font-size: 10px;
    padding: 3px;
    margin: 0px;
}

.splash .splash-inner .page-title {
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.about-us .boxes-wrapper {
    gap: 28px;
}

.about-us .boxes-wrapper .single-box {
    flex: 0 0 100%;
    padding-left: 72px;
    padding-right: 72px;
    max-height: 600px;
}

.half {
    padding-bottom: 0px;
}

.half .container .boxes-wrapper .half-single-box {
    height: 100%;
    max-height: 820px;
}

.half .container .boxes-wrapper .half-single-box .half-wrapper-left {
    flex-direction: column;
    padding: 56px;
}


.half .container .boxes-wrapper .half-single-box .half-wrapper-left .description {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.half .container .boxes-wrapper .half-single-box .half-wrapper-left .image {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.half .container .boxes-wrapper .half-single-box:last-of-type {
    display: none;
}

.dark .dark-inner .dark-title {
    font-size: 18px;
    text-align: center;
}

.our-services h5 {
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
}


.our-team h2 {
    text-align: center;
}

.our-services .boxes-wrapper {
    flex-direction: column;
}

.our-services .boxes-wrapper .our-services-single-box {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.our-services .boxes-wrapper .our-services-single-box .description h2 {
    text-align: center;
}


.our-team h2 {
    text-align: center;
}

.our-team h5 {
    padding-left: 56px;
    padding-right: 56px;
    text-align: center;
}

.our-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.our-team .boxes-wrapper {
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 0px;
}

.our-team .boxes-wrapper .our-team-single-box {
    flex: 0 0 50%;
}

.pricing {
    padding-bottom: 0px;
}

.pricing .container .boxes-wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pricing .container .boxes-wrapper .pricing-single-box {
    flex: 0 0 41%;
    margin-bottom: 32px;
}

.pricing .container.boxes-wrapper .pricing-single-box .bottom p {
    font-size: 10px;
    font-weight: 100;
    width: 80%;
    margin: 8px;
    text-align: right;
}

.map {
    padding-top: 0px;
    padding-bottom: 0px;
}

.map .container .map-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 5%;
    align-items: flex;
    flex: 0 0 auto;
    padding: 32px ;
    padding-bottom: 0px;
}

.map .container .map-wrapper .map-description {
    width: 100%;
    height: 40%;
    align-items: center;
}

.map .container .map-wrapper .map-image, .map-description {
    width: 100%;
    height: 40%;
    padding-bottom: 72px;
}

.map .container .map-wrapper .map-image img {
    max-height: 400px;
}

.map .container .map-wrapper .map-description p {
    text-align: center;
}

.page-footer .container {
    flex-direction: column;
}

.dark-two .container .dark-two-inner .dark-two-title {
    font-size: 18px;
    text-align: center;
}

.page-footer .container ul {
    margin: 0;
    padding: 0;
}

.page-footer .container h2 {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.page-footer .container h2:last-of-type {
    text-align: center;
}

.contact {
    padding-right: 56px;
    padding-left: 56px; 
}

.contact .container {
    padding-left: 0px;
}

.contact .container .boxes-wrapper {
    flex-direction: column;
    justify-content: center;
}

.contact .container .boxes-wrapper .contact-form {
    display: inline-block;
    justify-content: center;
    padding-right: 0px;
}

.contact .container .boxes-wrapper .contact-data {
    display: inline-block; 
    justify-content: center;
    padding: 32px 0px;
    padding-top: 0px;
}

.about-us .container .about-us-title {
    font-size: 28px;    
}

.our-services .container .our-services-title {
    font-size: 28px;    
}

.our-team .container .our-team-title
 {
    font-size: 28px;    
}

.pricing .container .pricing-title {
    font-size: 28px;    
}

.pricing .container .pricing-subtitle {
    padding-left: 8px;
    padding-right: 8px;
}

.contact .container .contact-title {
    font-size: 28px;    
}

.map .container .map-wrapper .map-description .map-title  {
    font-size: 28px;    
}

}

/* Bigger mobile screens */

@media (min-width: 460px) and (max-width: 991px) {

.navigation ul {
    padding: 0px;
    margin: 0px;
}

.navigation ul li {
    padding: 0px;
    margin: 0px;
}

.navigation ul li h2 {
    display: none;
}

.navigation ul li ul li {
    margin: 0px;
    padding: 0px;
}

.navigation .container ul li ul a {
    font-size: 10px;
    padding: 6px;
    margin: 0px;
}

.splash .splash-inner .page-title {
    font-size: 24px;
}

.about-us .boxes-wrapper {
    gap: 28px;
}

.about-us .boxes-wrapper .single-box {
    flex: 0 0 100%;
    padding-left: 72px;
    padding-right: 72px;
    max-height: 600px;
}

.half {
    padding-bottom: 0px;
}

.half .container .boxes-wrapper .half-single-box {
    height: 100%;
    max-height: 820px;
}

.half .container .boxes-wrapper .half-single-box .half-wrapper-left {
    flex-direction: column;
    padding: 56px;
}


.half .container .boxes-wrapper .half-single-box .half-wrapper-left .description {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.half .container .boxes-wrapper .half-single-box .half-wrapper-left .image {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.half .container .boxes-wrapper .half-single-box:last-of-type {
    display: none;
}

.dark .dark-inner .dark-title {
    font-size: 18px;
    text-align: center;
}

.our-services h5 {
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
}


.our-team h2 {
    text-align: center;
}

.our-services .boxes-wrapper {
    flex-direction: column;
}

.our-services .boxes-wrapper .our-services-single-box {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.our-services .boxes-wrapper .our-services-single-box .description h2 {
    text-align: center;
}


.our-team h2 {
    text-align: center;
}

.our-team h5 {
    padding-left: 56px;
    padding-right: 56px;
    text-align: center;
}

.our-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.our-team .boxes-wrapper {
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 96px;
}

.our-team .boxes-wrapper .our-team-single-box {
    flex: 0 0 50%;
}

.pricing {
    padding-bottom: 0px;
}

.pricing .container .boxes-wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pricing .container .boxes-wrapper .pricing-single-box {
    flex: 0 0 41%;
    margin-bottom: 32px;
}

.pricing .container.boxes-wrapper .pricing-single-box .bottom p {
    font-size: 10px;
    font-weight: 100;
    width: 80%;
    margin: 8px;
    text-align: right;
}

.map {
    padding-top: 0px;
    padding-bottom: 0px;
}

.map .container .map-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 5%;
    align-items: flex;
    flex: 0 0 auto;
    padding: 32px ;
    padding-bottom: 0px;
}

.map .container .map-wrapper .map-description {
    width: 100%;
    height: 40%;
    align-items: center;
}

.map .container .map-wrapper .map-image, .map-description {
    width: 100%;
    height: 40%;
    padding-bottom: 72px;
}

.map .container .map-wrapper .map-image img {
    max-height: 400px;
}

.map .container .map-wrapper .map-description p {
    text-align: center;
}

.page-footer .container {
    flex-direction: column;
}

.dark-two .container .dark-two-inner .dark-two-title {
    font-size: 18px;
    text-align: center;
}

.page-footer .container ul {
    margin: 0;
    padding: 0;
}

.page-footer .container h2 {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.page-footer .container h2:last-of-type {
    text-align: center;
}

.contact {
    padding-right: 56px;
    padding-left: 56px; 
}

.contact .container {
    padding-left: 0px;
}

.contact .container .boxes-wrapper {
    flex-direction: column;
    justify-content: center;
}

.contact .container .boxes-wrapper .contact-form {
    display: inline-block;
    justify-content: center;
    padding-right: 0px;
}

.contact .container .boxes-wrapper .contact-data {
    display: inline-block; 
    justify-content: center;
    padding: 32px 0px;
    padding-top: 0px;
}

}

@media (min-width: 991px) and (max-width: 1038px) {
    
.pricing .container .boxes-wrapper {
    justify-content: space-evenly;
}
        
.pricing .container .boxes-wrapper .pricing-single-box {
    flex: 0 0 20%;
}
    
}

@media (min-width: 1366px) {
.our-team {
    padding-bottom: 96px;
}

}